.main-content {
    max-width: 1680px;
}

.product {
    margin-left: -10px;
    border-left: 10px solid var(--contbg);
    flex-basis: 25%;
    max-width: calc(25% - 60px);
}

.inner-content-wrapper{
    width: 1680px;
}